* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fruitOne {
  background-color: green;
}

.fruitTwo {
  background-color: yellow;
}

.fruitThree {
  background-color: red;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
}
